<!DOCTYPE html>
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<html>
<head>
<meta charset='utf-8' />
<meta content='en' name='language' />
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<meta content='width=device-width, initial-scale=1.0' name='viewport' />
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css"
	rel="stylesheet" type="text/css">
  <link href='/static/style.css' media='screen' rel='stylesheet' type='text/css' />
  <title>Boom Boom Clan Manager - Clash of Clans</title>
  <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "Boom Boom Clan Manager",
      "url" : "https://boom-coc.ddns.net/"
    }
  </script>
  <meta name="google-site-verification" content="8TbdCCT9ekGnxd9KQajLhj5UI4tcu7u0O_6VTGbv_Fk" />
  <style type="text/css">
.tooltip {
  position:relative; /* making the .tooltip span a container for the tooltip text */
}
.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position:absolute;
  
  /* vertically center */
  top:50%;
  transform:translateY(-50%);
  
  /* move to right */
  left:100%;
  margin-left:1px; /* and add a small left margin */
  
  /* basic styles */
  padding:10px;
  border-radius:10px;
  background:#ccc;
  color: #000;
  text-align:center;

  display:none; /* hide by default */
}
.tooltip:hover:before {
  display:block;
}

.tooltip:hover:before, .tooltip:hover:after {
  display:block;
}

  table th, table td {
    padding: 1px 1px; }
  </style>

</head>
<body style="background-color:#000000; color:#ffffff; font-family:Verdana;">
<div id="homeContainer">
	<table cellspacing=0 cellpadding=0>
		<tr>
			<td width=1% ><img src="/static/badge.png"></td>
			<td>
					<b style="font-size: 1.75em">${clan["name"]} Clan Manager</b>
				</td>
		</tr>
		<tr>
			<td colspan=2><img id="banner" src="static/banners/banner1.png"
				alt="Clash of Clans Clan Manager" width=100%> <script
					type="text/javascript">
					var myPix = new Array(
							% for b in banners:
							  "/static/banners/${b}",
							% endfor
							);
					var randomNum = Math.floor(Math.random() * myPix.length);
					document.getElementById("banner").src = myPix[randomNum];
				</script></td>
		</tr><tr><td colspan=2 style="font-size: 1em;">
			Apply to join <a style="color: gold;"
				href="https://link.clashofclans.com/en?action=OpenClanProfile&tag=${clan["tag"]}">in-game</a>
			| <a style="color: gold;" href="/static/guidelines.html">Clan
				information</a> | <a style="color: gold;"
				href="/cwl">Clan War League</a> | <a
				style="color: gold;" href="https://clashspot.net/en/clan/${clan["tag"]}/capital/home-village" target="_blank">Clan Capital</a>
		</td></tr>
	</table>
	<table>
		<tr>
			<td>
				<table cellspacing=1 cellpadding=0>
					<tr>
						<td width=5px><table cellpadding=0 cellspacing=0>
								<tr>
									<td style="background-color: LightGray">&nbsp;</td>
								</tr>
							</table></td>
						<td width=5px><table cellpadding=0 cellspacing=0>
								<tr>
									<td style="background-color: Tomato">&nbsp;</td>
								</tr>
							</table></td>
						<td width=5px><table cellpadding=0 cellspacing=0>
								<tr>
									<td style="background-color: Orange">&nbsp;</td>
								</tr>
							</table></td>
						<td width=5px><table cellpadding=0 cellspacing=0>
								<tr>
									<td style="background-color: MediumSeaGreen">&nbsp;</td>
								</tr>
							</table></td>
						<td nowrap><div
								style="display: flex; align-items: center; justify-content: flex-start;">Legend:
								Not in war, 0, 1, 2 attacks respectively</div></td>
					</tr>
				</table>

			</td>
		</tr>
	</table>

<table cellpadding=2 cellspacing=0">
  <tr><td valign=top><table cellpadding=2 cellspacing=0 >
  
  <tr>
  <td valign=center colspan=4 nowrap>
  <form method="post" action="/post">
  
  <input type="password" size=14 name="key">
  <input type="submit" style="webkit-appearance: none;webkit-border-radius: 0;" height=100% value='Notes'>
  </form>
  </td>
  <td colspan=2 valign=center align=right style="white-space:nowrap;"> 
	  <table><tr><td style="white-space:nowrap;">War Log:&nbsp;</td><td width=10px>
	  % if warState != "warEnded":
	  <table cellpadding=0><tr><td style="background-color:Orange">&nbsp;</td></table>
	  % else:
	  <table cellpadding=0><tr><td>&nbsp;</td></table>
	  % endif
	  </td></tr></table>
  </td>
  
	<% count = 0 %>
	% for w in warlog:
		% if w["attacksPerMember"] == 2:
		% if count < clan["rankHistory"]:
			<% count += 1 %>
			% if w["result"]=="win":
			<td width=5px style="font-size: 1em;"><table cellpadding=0 cellspacing=0><tr><td style="background-color:MediumSeaGreen">&nbsp;</td></table></td>
			% elif w["result"]=="lose":
			<td width=5px style="font-size: 1em;"><table cellpadding=0 cellspacing=0><tr><td style="background-color:Tomato">&nbsp;</td></table></td>
			% else:
			<td width=5px style="font-size: 1em;"><table cellpadding=0 cellspacing=0><tr><td style="background-color:LightGray">&nbsp;</td></table></td>
			% endif
		% endif
		% endif
	%endfor
    <td colspan=3><div
					style="display: flex; align-items: center; justify-content: flex-end;">
    <% numberOfMembers = len(members) %>
    ${numberOfMembers}/50</div>
    </td>
  </tr>
  
  % for i, member in enumerate(members):

  % if i == 30:
  <tr>
  <td width=2 style="background-color:White"></td>
  <td colspan=17 style="background-color:Maroon"><p><center><font style="color:White">Players above this line are automatically in CWL. Players below are replacements.</font></center></p></td>
  </tr>
  % endif

  % if not i%2:
  <tr style="background-color:#525252">
  % else:
  <tr>
  % endif
  
    % if "warningCount" in member:
      % if member["warningCount"] == 0:
      <td width=2></td>
      % elif member["warningCount"] == 1:
      <td width=2 style="background-color:Yellow">&nbsp;</td>
      %  elif member["warningCount"] == 2:
      <td width=2 style="background-color:Tomato">&nbsp;</td>
      % else:
      <td width=2 style="background-color:Maroon">&nbsp;</td>
      % endif
    % else:
      <td width=2></td>
    % endif
    
    % if member["warPreference"] == "in":
    <td align=right class="tooltip" data-text="Rank: ${member["rank"]} 
    % else:
    <td align=right class="tooltip" data-text="Rank: Out 
    % endif
    
    % if member["cwlWarningPenality"] > 0:
     CWL Penality
    % endif
    
    " style="white-space:nowrap;font-size: 0.8em"><img height=35 src="${member["townhallImage"]}"></td>
    <td valign="middle"><img src="${member["league"]["iconUrls"]["tiny"]}" height=35></td> 
    <td style="font-size: 1em;"><a style="color: gold;" href="https://www.clashofstats.com/players/${member["tag"].replace("#", "")}/summary" target="_blank">${member["name"].replace("<","&lt;").replace(">","&gt;")}</a></td>
    
    <td style="white-space:nowrap;font-size: 0.8em;">
	    <table cellspacing=1 style="font-size: 0.8em;">
	    <tr>
	    % if member["role"] == "L":
	        <td style="background-color:SteelBlue">Leader &nbsp;  &nbsp; &nbsp;</td>
	    % elif member["role"] == "CL":
	    	<td style="background-color:SteelBlue" nowrap>Co-Leader</td>
	    % elif member["role"] == "E":
	    	<td style="background-color:Sienna">Elder &nbsp; &nbsp; &nbsp; &nbsp;</td>
	    % else:
	    	<td style="background-color:Purple">Member &nbsp;  &nbsp;</td>
	    % endif
	    </tr><tr>
		    % if "warPreference" in member:
		    	% if member["warPreference"] == "in":
		    	<td style="background-color:Green" valign=middle>I'm In</td>
		    	% else:
		    	<td style="background-color:Red" valign=middle>${member["dateLastIn"]}</td>
		    	% endif
		    % endif
		 </tr>
	    </table>
    </td>
    <td><table cellspacing=0 style="font-size: 0.8em;">

    <tr><td class="tooltip" data-text="Donation mod: ${member["donationMod"]}" style="white-space:nowrap;" align=left>
    ${member["donationDisplay"]}
    <br>${member["prevDonationDisplay"]}</td></tr>
	</table></td>

    % for w in member["wars"]:
    % if w==0:
    <td style="font-size: 1em;"><table cellpadding=0 cellspacing=0><tr><td style="background-color:LightGray">&nbsp;</td></table></td>
    % elif w==1:
    <td style="font-size: 1em;"><table cellpadding=0 cellspacing=0><tr><td style="background-color:Orange">&nbsp;</td></table></td>
    % elif w==2:
    <td style="font-size: 1em;"><table cellpadding=0 cellspacing=0><tr><td style="background-color:MediumSeaGreen">&nbsp;</td></table></td>
    % elif w==-1:
    <td style="font-size: 1em;"><table cellpadding=0 cellspacing=0><tr><td style="background-color:Tomato">&nbsp;</td></table></td>
    % else:
    <td><table cellpadding=0 cellspacing=0><tr><td>${w}</td></table></td>
    % endif
    %endfor
    
    <td align=left style="white-space:nowrap;font-size: 0.8em;">Avg S: ${member["averageStars"]}<br>Avg D: ${member["averageDestruction"]}</td>
    <td align=center valign="middle">

    % if member["cwlWarningPenality"] > 0:
      <img height=15 src="static/cwl.png">
    % elif member["lastThree"]==1:
       <img height=15 src="static/up-arrow.png">
    % endif
    </td>
  </tr>
  %endfor
  
  
  </table>  
  </td></tr>
</table>
<div id="timeDiv" style="font-size: 0.75em">${lastUpdated}</div>
 <script type="text/javascript">
 date = new Date();
 date.setMinutes(date.getMinutes() + 5);
 d = Date.parse("${lastUpdated}");
 if (date < d) {
   var element = document.getElementById("timeDiv");
   element.style.color = "#FF0000";
 }
 </script>
 </div>
</body>
</html>